---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$text-color:                #111;
$black-color:               #3e3e3e;
$grey-color:                #e0e0e0;
$white-text-on-black-color: #fff;

body {
  color: $text-color;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Signika, 'Helvetica Neue', Helvetica, Arial;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    border-top: 5px solid $black-color;
    padding-top: 10px;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "logo_and_nav";
@import "footer";
