<footer>
  <div class="container">
    <div class="row">
      <div class="footer-elm col-sm-4">
        Rockhopper Brewing Company<br />
        1 Forrest Crescent<br />
        Luton<br />
        Bedfordshire<br />
        LU2 9AR
      </div>

      <div class="footer-elm col-sm-4">
        <p><i class="fa fa-envelope-o fa-lg"></i>&nbsp;&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        <p><i class="fa fa-phone fa-lg"></i>&nbsp;&nbsp;{{ site.phone }}</p>
      </div>

      <div id="social-links" class="footer-elm col-sm-4">
        <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://facebook.com/{{ site.facebook_username }}"><i class="fa fa-facebook-square fa-3x"></i></a>
      </div>
    </div>

    <div id="copyright" class="footer-elm">
      &copy; Rockhopper Brewing Co. {{ 'now' | date: "%Y" }}
    </div>
  </div>
</footer>
