<h4>Sign Up For Our Newsletter</h4>
<form action="//rockhopperbrew.us11.list-manage.com/subscribe/post?u=249855670564dbb754db0302e&amp;id=68d2f38cff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-horizontal" target="_blank" novalidate>
  <div class="form-group">
    <div class="col-xs-6 col-xs-offset-3 col-sm-12 col-sm-offset-0">
      <input type="text" value="" name="FNAME" class="form-control" id="mce-EMAIL" placeholder="First Name"><br/>
      <input type="text" value="" name="LNAME" class="form-control" id="mce-FNAME" placeholder="Last Name"><br/>
      <input type="email" value="" name="EMAIL" class="form-control" id="mce-LNAME" placeholder="Email"><br/>
      <button type="submit" name="subscribe" class="btn btn-default" id="mc-embedded-subscribe">Subscribe</button>
    </div>
  </div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_249855670564dbb754db0302e_68d2f38cff" tabindex="-1" value=""></div>
</form>
