<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
  <h4>Sign Up For Our Newsletter</h4>
  <form action="//rockhopperbrew.us11.list-manage.com/subscribe/post?u=249855670564dbb754db0302e&amp;id=68d2f38cff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" target="_blank" novalidate>
    <div id="form-group">
      <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="First Name"></br>
      <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Last Name"></br>
      <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Email"></br>
      <button type="submit" name="subscribe" class="btn btn-default" id="mc-embedded-subscribe">Subscribe</button>

      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_249855670564dbb754db0302e_68d2f38cff" tabindex="-1" value="">
      </div>
    </div>
  </form>
</div>
