footer {
  font-size: 13px;
  margin-top: 45px;
  padding-bottom: 35px;
  color: $white-text-on-black-color;
  background-color: $black-color;
  text-align: center;

  #social-links i:hover {
    color: $grey-color;
  }

  .footer-elm {
    padding-top: 25px;
  }

  a, a:hover {
    color: $white-text-on-black-color;
  }

  @media (min-width: 768px) {
    text-align: left;

    #copyright {
      text-align: right;
    }
  }
}
