#logo {
  text-align: center;

  img {
    margin: 0 auto;
    max-height: 100px;
    max-width: 100%;
  }
}

#md-navigation {
  display: none;
}

.nav>li>a {
  color: $black-color;
}

.nav-pills>li.active>a {
  color: $white-text-on-black-color;
  background-color: $black-color;
}

.navbar-default {
  background-color: $black-color;
  border-color: $black-color;

  .navbar-nav>li>a {
    color: $white-text-on-black-color;
    text-align: center;
  }

  .navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus, .navbar-collapse {
    background-color: $black-color;
    border-color: $black-color;

    .icon-bar {
      background-color: $white-text-on-black-color;
    }
  }
}

/*
  DEVICE SPECIFIC OVERRIDES
*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #sm-navigation {
    display: none;
  }

  #md-navigation {
    display: block;
    padding-top: 25px;

    ul.nav.nav-pills {
      text-align: right;
    }

    .nav-pills>li {
      float: none;
      display: inline-block;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #md-navigation {
    padding-top: 35px;
  }

  #logo img {
    max-height: 130px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
