footer {
  font-size: 13px;
  margin-top: 45px;
  padding-bottom: 35px;
  color: $white-text-on-black-color;
  background-color: $black-color;
  text-align: center;

  .footer-elm {
    padding-top: 25px;
  }

  a, a:visited {
    color: $white-text-on-black-color;
  }

  a:hover {
    color: $yellow-color;
  }

  @media (min-width: 768px) {
    text-align: left;
  }
}
